body {
	background-color: #F2F2F2;
}

.quadro {
	margin: 20px auto !important;
	background-color: #FFFFFF;
	padding: 15px;
	min-height: 500px;
	box-shadow: 2px 2px 5px #CCCCCC;
}

.quadro ul li {
	margin-bottom: 10px;
}

.quadro ul li a:hover {
	background-color: #EF9A9A !important;
}